go 1.26.4

use (
	.
	./cmd/demo-hostapp
	./cmd/demo-resource-server
	./cmd/oneauth
	./cmd/oneauth-server
	./docs/site
	./grpc
	./oauth2
	./saml
	./sshkeys
	./stores/gae
	./stores/gorm
	./tests/authlete
	./tests/conformance
	./tests/keycloak
	./tests/oidf-conformance
)
